{% extends "layout.html.twig" %}

{% block content %}
 <div class="container">
    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Skybet Test - js-tech-test</h3>
    </header>

    <main role="main">
    	<h1>Live Events</h1>
      <div class="row">
      	<table class="table">
      		<thead>
      			<tr>
      				<th>Name</th>
      				<th>Event</th>
      				<th>Scores</th>
      				<th>Teams</th>
      				<th>Start</th>
      			</tr>
      		</thead>
      		<tbody>
      			{% for event in events %}
      				<tr>
		      			<td>{{ event.name }}</td>
		      			<td>
		      				{% if event.linkedEventTypeName is defined %}
		      					{{ event.linkedEventTypeName }}
		      				{% endif %}
		      			</td>
		      			<td>
		      				{{ event.scores.home }}
		      				{{ event.scores.away }}
		      			</td>
		      			<td>
		      				{% for competitor in event.competitors %}
		      					{{ competitor.name }}
		      					{{ competitor.position }}
		      				{% endfor %}
		      			</td>
		      			<td>{{ event.startTime|date('H:i') }}</td>
	      			</tr>
      			{% endfor %}
      		</tbody>
      	</table>
      </div>

    </main>

    <footer class="footer">
      <p>&copy; 2017</p>
    </footer>
	</div>
{% endblock %}
